div{
    border:solid;
    border-width:1px;
}
.App {
  background-color: white;
}


.App-header {
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border:solid;
  }

.App-body{
  left:0;
  right:0;
  height:500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:solid;
  overflow-y:scroll;
}


